@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Oswald');
* {
	margin: 0;
	padding: 0;
}

/* portfolio styles */

body {
	font-family: 'Oswald', "Helvetica Neue", Helvetica, Arial, "sans-serif";
	background-color: #286DA8;
}
h1 {
	text-align: center;
	color: white;
	font-size: 60pt;
	font-weight: 500;
}
h3 {
	text-align: center;
	color: white;
	font-size: 30pt;
	font-weight: 500;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	margin-left: 30px;
	margin-top: 30px;
}
nav li a {
	display: block;
	color: white;
	padding: 14px 16px;
	text-decoration: none;
	float: left;
}
#top, #bottom, #left, #right {
	background: white;
	position: fixed;
}
#left, #right {
	top: 0;
	bottom: 0;
	width: 15px;
}
#left {
	left: 0;
}
#right {
	right: 0;
}
#top, #bottom {
	left: 0;
	right: 0;
	height: 15px;
}
#top {
	top: 0;
}
#bottom {
	bottom: 0;
}
.boxed {
	border: 5px solid white;
	text-align: center;
	align-content: center;
	margin: 4% 41%;
	padding: 1%;
}

.projects {
	color: white;
}

.kontakt_form {
	text-align: center;
}

label {
	color: white;
}

.left_content, .right_content {
	float: left;
	width: 50%;
	margin-top: 50px;
}

.right_content {
	text-align: left;
}

input[type="Text"] {
	padding:10px;
	width:175px;
}

input[type="Email"] {									
	padding:10px;
	width:175px;
}
.right_content textarea {
	width:177px;
	padding:10px;
	height:100px;
	resize:none;
}

input[type="submit"] {
	padding:20px !important;
}

section {
	width: 790px;
	margin: 20px auto;
	
}

label.input_contact:first-of-type {
	margin:0;
}

label.input_contact {
	margin-top:8px;
	display:block;
}

.right_content input:first-of-type {
	margin:0;
}

.right_content input, .right_content textarea {
	margin-top:20px;
}


.pic {
	width:100%;
}

img {
	margin-top: 50px;
}

.om_mig {
	margin-top: 50px;
	color: white;
	column-count: 2;
}

a {
position: relative;
display: inline-block;
transition: .3s;
text-decoration: none;
}
a::after {
position: absolute;
bottom: .1em;
left: 0;
content: '';
width: 100%;
height: 1px;
background-color: lightblue;
opacity: 0;
transition: .3s;
}
a:hover::after {
bottom: 0;
opacity: 1;
}
a:hover {
color: lightblue;
}
